.c-toast {
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  .c-toast__content {
    z-index: 1;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    background: rgba(40, 40, 40, 0.9);
    padding: 1.5rem 1.5rem;
    line-height: 2rem;
    text-align: center;
    border-radius: .3rem;
    color: #fff;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
    margin-top: -4rem;
    p {
      padding-bottom: .5rem;
      width: 100%;
      &:last-child {
        padding: 0;
      }
    }
  }
  &:before {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: " ";
  }
}
