.c-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: #f0f0f0;
  transition: all .3s;
  transform: translateX(100%);
  &.c-sidebar__visible {
    transform: translateX(0);
  }
  .c-sidebar__body {
    height: calc(100% - 50px);
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
