@import "./style.scss";

.c-button,
.c-button:hover {
  overflow: visible;
  line-height: 1.5;

  .c-button__text {
    display: inline-block;
    line-height: 1.5;
  }

  cover-view {
    &.c-button__text {
      display: block;
    }
  }

  &.c-button__small +
  &.c-button__small {
    margin-right: 5px;
  }
  &::after {
    border-width: 0;
  }
}

.c-button-hover {
  opacity: .8;
}
