@import "./style.scss";

.c-button {
  overflow: visible;
  &.c-button__small {
    margin-right: 5px;
  }
  &.c-button__suspend {
    bottom: 0;
    &::before {
      height: 0;
    }
  }
  &::after {
    border-width: 0;
  }
  &.c-button__o {
    border-width: 0.5px;
  }
  &.c-button__is-miniprogram-is-iphonex {
    &.c-button__suspend {
      bottom: 34px;
      &::before {
        height: 34px;
      }
    }
  }
}

.c-button__suspend__cover {
  height: 50px;
  &.c-button__is-miniprogram-is-iphonex {
    height: 84px;
  }
}