.c-radio-group {
  .c-radio {
    font-size: 14px;
    position: relative;
    .c-radio__core {
      width: 18px;
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #d9d9d9;
      border-radius: 50%;
      box-sizing: border-box;
      &::after {
        position: absolute;
        width: 12px;
        height: 12px;
        left: 2px;
        top: 2px;
        border-radius: 100%;
        content: " ";
        background-color: $primary;
        opacity: 0;
        transition: all .2s ease-in-out;
        transform: scale(0);
      }
    }
    &.c-radio__checked {
      .c-radio__core {
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &.c-radio-group__success {
    .c-radio {
      .c-radio__core {
        &::after {
          background-color: $success;
        }
      }
    }
  }

  &.c-radio-group__warning {
    .c-radio {
      .c-radio__core {
        &::after {
          background-color: $warning;
        }
      }
    }
  }

  &.c-radio-group__danger {
    .c-radio {
      .c-radio__core {
        &::after {
          background-color: $danger;
        }
      }
    }
  }

  &.c-radio-group__disabled {
    .c-radio {
      .c-radio__core {
        border-color: #dcdee2;
        &::after {
          background-color: #ccc;
        }
      }
    }
  }

  &.c-radio-group__left {
    .c-radio {
      padding-left: 20px;
      .c-radio__core {
        left: 0;
      }
    }
  }
  &.c-radio-group__right {
    .c-radio {
      padding-right: 20px;
      .c-radio__core {
        right: 0;
      }
    }
  }
}
