.c-btn,
.c-btn:hover,
.c-btn__o,
.c-btn__o:hover {
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.5rem 1rem;
  display: block;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  line-height: 2rem;
  border: none;
  -webkit-user-select: none;
  user-select: none;

  &[disabled=disabled],
  &.c-btn__disabled {
    opacity: .6;
    cursor: not-allowed;
  }

  &.c-btn__small{
    display: inline-block;
    width: auto;
    padding: .5rem 1rem;
    font-size: 1.4rem;
  }
}

.c-btn,
.c-btn:hover {
  color: $text;
  border-radius: .3rem;
  background: #ccc;

  &.c-btn__primary,
  &.c-btn__primary:hover {
    color: #fff;
    background: $primary;
  }

  &.c-btn__success,
  &.c-btn__success:hover {
    color: #fff;
    background: $success;
  }

  &.c-btn__warning,
  &.c-btn__warning:hover {
    color: #fff;
    background: $warning;
  }

  &.c-btn__danger,
  &.c-btn__danger:hover {
    color: #fff;
    background: $danger;
  }
}

.c-btn__o,
.c-btn__o:hover {
  color: $text;
  border-radius: .3rem;
  position: relative;

  &.c-btn__primary,
  &.c-btn__primary:hover {
    color: $primary;
    &::after {
      border-color: $primary;
    }
  }

  &.c-btn__success,
  &.c-btn__success:hover {
    color: $success;
    &::after {
      border-color: $success;
    }
  }

  &.c-btn__warning,
  &.c-btn__warning:hover {
    color: $warning;
    &::after {
      border-color: $warning;
    }
  }

  &.c-btn__danger,
  &.c-btn__danger:hover {
    color: $danger;
    &::after {
      border-color: $danger;
    }
  }

  &::after {
    @include borderLine('round');
    border-radius: .3rem;
  }
}

.c-btn,
.c-btn__o {
  &.c-btn__suspend {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 0;
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);
    border-bottom: constant(safe-area-inset-bottom) solid #fff;
    border-bottom: env(safe-area-inset-bottom) solid #fff;
  }
}

.c-btn:not(.c-btn__small) + .c-btn:not(.c-btn__small),
.c-btn:not(.c-btn__small) + .c-btn__o:not(.c-btn__small),
.c-btn__o:not(.c-btn__small) +.c-btn:not(.c-btn__small),
.c-btn__o:not(.c-btn__small) + .c-btn__o:not(.c-btn__small) {
  margin-top: 1.5rem;
}

.c-mobile__is-loading {
  .c-btn,
  .c-btn:hover,
  .c-btn__o,
  .c-btn__o:hover {
    opacity: .6;
    cursor: not-allowed;
  }
}
