@import "./style.scss";

.c-tabbar {
  padding-bottom: env(safe-area-inset-bottom);
  .c-tabbar__cell {
    padding-bottom: env(safe-area-inset-bottom);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }
  .c-tabbar__cover {
    height: 50px;
    width: 100%;
  }
}
