.c-tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 5rem;
  width: 100%;
  background: #f5f5f5;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-user-select: none;
  user-select: none;
  .c-tabbar-item {
    position: relative;
    padding: .5rem 0;
    height: 5rem;
    display: block;
    text-align: center;
    cursor: pointer;
    flex: 1;
    i {
      height: 2.4rem;
      line-height: 2.4rem;
      font-size: 2rem;
      display: block;
    }
    .c-text {
      font-size: 1.2rem;
      height: 1.6rem;
      line-height: 1.6rem;
      display: block;
      color: $text;
    }
    b {
      position: absolute;
      left: 50%;
      top: .5rem;
      transform: translateX(-50%);
      margin-left: 1.8rem;
      height: 1.6rem;
      min-width: 1.6rem;
      line-height: 1.6rem;
      padding: 0 .5rem;
      color: #fff;
      font-size: 1.2rem;
      border-radius: 1.6rem;
      background: $danger;
      &:empty {
        display: none;
      }
    }
  }
  &.c-tabbar__primary {
    .current {
      i,
      .c-text {
        color: $primary;
      }
    }
  }
  &.c-tabbar__success {
    .current {
      i,
      .c-text {
        color: $success;
      }
    }
  }
  &.c-tabbar__warning {
    .current {
      i,
      .c-text {
        color: $warning;
      }
    }
  }
  &.c-tabbar__danger {
    .current {
      i,
      .c-text {
        color: $danger;
      }
    }
  }
  &.c-tabbar__is-iphonex {
    height: 8.4rem;
    padding-bottom: 3.4rem;
  }
  &::before {
    @include borderLine('top');
  }
}
