.c-input {
  width: 100%;
  padding: 1.5rem;
  display: block;
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
  overflow: hidden;
  font-size: 1.4rem;
  .c-input-head,
  .c-input-body {
    min-height: 2rem;
    &:empty {
      &::before {
        content: " ";
      }
    }
  }
  .c-input-head {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 11rem;
    color: $text;
  }
  .c-input-body {
    flex: 1;
    min-width: 0; // 解决文字溢出
    input[type=text],
    input[type=number],
    input[type=tel],
    input[type=email],
    input[type=date],
    input[type=datetime-local],
    input[type=password],
    .input,
    .c-text {
      border: none;
      width: 100%;
      height: 100%;
      line-height: 2rem;
      font-size: 1.4rem;
      background: transparent;
      -webkit-appearance: none;
      vertical-align: top;
    }
    textarea,
    .textarea {
      border: none;
      width: 100%;
      line-height: 2rem;
      font-size: 1.4rem;
      background: transparent;
      vertical-align: top;
      min-height: 6rem;
    }
  }
  &.c-input__fullline {
    &::before {
      left: 0;
    }
  }
  &.c-input__addon {
    .c-input-body {
      input[type=text],
      input[type=number],
      input[type=tel],
      input[type=email],
      input[type=date],
      input[type=datetime-local],
      input[type=password],
      .input,
      .c-text {
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.8rem;
      }
      input[type=date],
      input[type=datetime-local] {
        direction: rtl
      }
      select {
        border: none;
        background: transparent;
        width: 100%;
        direction: rtl;
        font-size: 1.4rem;
        color: $text;
        &.light {
          color: var($text-light);
        }
      }
      .c-switch {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
      }
      .c-btn,
      .c-btn__o {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
      }
      .c-btn + input,
      .c-btn__o + input {
        text-align: left;
      }
    }
  }
  &.c-input__next {
    .c-input-body {
      padding-right: 1rem;
      &::after {
        content: " ";
        transform: rotate(-45deg)
                   translateY(-50%);
        border: solid $border;
        border-width: 0 .1rem .1rem 0;
        width: 1rem;
        height: 1rem;
        display: block;
        position: absolute;
        top: 50%;
        right: 1.3rem;
        margin-top: -.2rem;
      }
    }
  }
  &.c-input__checked {
    .c-input-body {
      padding-right: 2rem;
      &::after {
        content: " ";
        transform: rotate(45deg);
        border: solid $primary;
        border-width: 0 .2rem .2rem 0;
        width: .8rem;
        height: 1.6rem;
        display: block;
        position: absolute;
        top: 1.6rem;
        right: 2rem;
      }
    }
  }
  &.c-input__icon {
    padding-left: 5.5rem;
    .c-input-head {
      min-width: 14rem;
      i {
        position: absolute;
        left: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &::before {
    @include borderLine('top', 1.5rem);
  }
  &:first-child {
    &::before {
      border: none;
    }
  }
  &.noborder-top {
    &::before {
      border: none !important;
    }
  }
  &.noborder-bottom {
    &::after {
      border: none !important;
    }
  }
}

label {
  &.c-input {
    &.c-input__next {
      &:active {
        background: #f0f0f0;
        &::before {
          border-top: none;
        }
      }
    }
  }
}
label.c-input.c-input__next:active + .c-input {
  &::before {
    border-top: none;
  }
}
