.c-input-group {
  .c-input-group__title {
    padding: 1rem 0 .5rem 1.5rem;
  }
  .c-input-group__content {
    background: #fff;
    position: relative;
    overflow: hidden;
    &:before {
      @include borderLine('top');
    }
    &:after {
      @include borderLine('bottom');
    }
    &.noborder-top {
      &:before {
        border: none !important;
      }
    }
    &.noborder-bottom {
      &:after {
        border: none !important;
      }
    }
  }
}
