.c-input {
  width: 100%;
  padding: 15px;
  display: block;
  position: relative;
  display: flex;
  -webkit-box-flex: 1;
  overflow: hidden;
  font-size: 14px;
  box-sizing: border-box;
  .c-input-head,
  .c-input-body {
    min-height: 20px;
    &:empty {
      &::before {
        content: "";
      }
    }
  }
  .c-input-head {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 110px;
    color: $text;
  }
  .c-input-body {
    flex: 1;
    min-width: 0; // 解决文字溢出
    input[type=text],
    input[type=number],
    input[type=tel],
    input[type=email],
    input[type=date],
    input[type=datetime-local],
    input[type=password],
    .input,
    .c-text {
      border: none;
      width: 100%;
      height: 100%;
      line-height: 20px;
      font-size: 14px;
      background: transparent;
      -webkit-appearance: none;
      vertical-align: top;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 18px;
      min-height: 20px;
    }
    textarea,
    .textarea {
      border: none;
      width: 100%;
      line-height: 20px;
      font-size: 14px;
      background: transparent;
      vertical-align: top;
      min-height: 60px;
      text-align: justify;
      word-wrap: break-word;
      word-break: normal;
    }
  }
  &.c-input__fullline {
    &::before {
      left: 0;
    }
  }
  &.c-input__addon {
    .c-input-body {
      input[type=text],
      input[type=number],
      input[type=tel],
      input[type=email],
      input[type=date],
      input[type=datetime-local],
      input[type=password],
      .input,
      .c-text {
        text-align: right;
      }
      .c-text {
        &.c-text__cursor {
          &::before {
            left: unset;
            right: 0;
          }
        }
      }
      input[type=date],
      input[type=datetime-local] {
        direction: rtl
      }
      select {
        border: none;
        background: transparent;
        width: 100%;
        direction: rtl;
        font-size: 14px;
        color: $text;
        &.light {
          color: var($text-light);
        }
      }
      .c-switch {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
      }
      .c-btn,
      .c-btn__o {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: 1;
      }
      .c-btn + input,
      .c-btn__o + input,
      .c-btn + .c-text,
      .c-btn__o + .c-text {
        text-align: left;
      }
    }
  }
  &.c-input__next {
    -webkit-user-select: none;
    user-select: none;
    .c-input-body {
      padding-right: 10px;
      &::after {
        content: "";
        transform: rotate(-45deg)
                   translateY(-50%);
        border: solid #cacaca;
        border-width: 0 1px 1px 0;
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: 50%;
        right: 13px;
        margin-top: -2px;
      }
    }
  }
  &.c-input__checked {
    .c-input-body {
      padding-right: 20px;
      &::after {
        content: "";
        transform: rotate(45deg);
        border: solid $primary;
        border-width: 0 2px 2px 0;
        width: 8px;
        height: 16px;
        display: block;
        position: absolute;
        top: 16px;
        right: 20px;
      }
    }
  }
  &.c-input__icon {
    padding-left: 55px;
    .c-input-head {
      min-width: 140px;
      i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &::before {
    @include borderLine('top', 15px);
  }
  &:first-child {
    &::before {
      border: none;
    }
  }
  &.noborder-top {
    &::before {
      border: none !important;
    }
  }
  &.noborder-bottom {
    &::after {
      border: none !important;
    }
  }
}

label {
  &.c-input {
    &.c-input__next {
      &:active {
        background: #d9d9d9;
        opacity: 1;
        &::before {
          border-top: none;
        }
      }
    }
  }
}
label.c-input.c-input__next:active + .c-input {
  &::before {
    border-top: none;
  }
}
