.c-input-group {
  .c-input-group__title {
    padding: 10px 0 5px 15px;
    box-sizing: border-box;
    color: $text-light;
    font-size: 13px;
  }
  .c-input-group__content {
    background: #fff;
    position: relative;
    overflow: hidden;
    &::before {
      @include borderLine('top');
    }
    &::after {
      @include borderLine('bottom');
    }
    &.c-input-group__noborder-top {
      &::before {
        border: none !important;
      }
    }
    &.c-input-group__noborder-bottom {
      &::after {
        border: none !important;
      }
    }
  }
}
