@import "./input-group.scss";
@import "./input.scss";
@import "./input-upload/style.scss";

button.c-input {
  background: transparent;
  box-sizing: border-box;
  text-align: inherit;
  line-height: 20px;
  &::after {
    border: none;
  }
}
