@import "./input-group.scss";
@import "./input.scss";
@import "./input-upload/style.scss";

// c-input 按钮
button.c-input {
  background: transparent;
  box-sizing: border-box;
  text-align: inherit;
  line-height: 20px;
  border-radius: 0;
  &::after {
    border: none;
  }
}

.c-input {
  padding: 10px 15px;
  .c-input-head,
  .c-input-body {
    line-height: 30px;
    input,
    .input,
    .c-text {
      height: 30px;
      line-height: 30px;
    }
  }
  &.c-input__addon {
    &.c-input__next {
      &:active {
        background: #d9d9d9;
      }
    }
    &.c-input__icon {
      .c-input-head {
        i {
          img {
            vertical-align: top;
          }
        }
      }
    }
  }
}
