.c-input-upload {
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  padding: 0 .5rem 1rem 1.5rem;
  .c-input-upload-title {
    position: relative;
    line-height: 2rem;
    height: 2rem;
    margin-top: 1rem;
    b {
      position: absolute;
      right: 0;
      line-height: 2rem;
      height: 2rem;
    }
  }
  .c-input-upload-files {
    float: left;
    .c-input-upload-file {
      position: relative;
      width: 6rem;
      height: 6rem;
      margin: 1rem 1rem 0 0;
      float: left;
      img {
        width: 6rem;
        height: 6rem;
      }
      i {
        position: absolute;
        width: 2rem;
        height: 2rem;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .75);
        border-radius: 0 0 100% 0;
        &:before {
          content: "+";
          color: #fff;
          left: -.2rem;
          top: -.2rem;
          height: 2rem;
          width: 2rem;
          text-align: center;
          vertical-align: top;
          line-height: 2rem;
          transform: rotate(45deg);
          position: absolute;
          font-family: Arial;
        }
      }
    }
  }
  .c-input-upload-btn {
    float: left;
    position: relative;
    margin: 1rem 1rem 0 0;
    width: 6rem;
    height: 6rem;
    border: .1rem solid var(--border);
    input[type=file] {
      right: 0 !important;
      top: 0 !important;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--border);
    }
    &:before {
      width: .2rem;
      height: 3.95rem;
    }
    &:after {
      width: 3.95rem;
      height: .2rem;
    }
  }
}
