.c-input-upload {
  width: 100%;
  overflow: hidden;
  vertical-align: top;
  padding: 0 5px 10px 15px;
  position: relative;
  .c-input-upload__title {
    position: relative;
    line-height: 20px;
    height: 20px;
    margin-top: 10px;
    b {
      position: absolute;
      right: 0;
      line-height: 20px;
      height: 20px;
    }
  }
  .c-input-upload__files {
    float: left;
    .c-input-upload-file {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 10px 10px 0 0;
      float: left;
      background: #ddd;
      img {
        width: 60px;
        height: 60px;
        position: relative;
        z-index: 1;
      }
      i {
        display: none;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .75);
        border-radius: 0 0 100% 0;
        z-index: 2;
        &::before {
          content: "+";
          color: #fff;
          left: -2px;
          top: -2px;
          height: 20px;
          width: 20px;
          text-align: center;
          vertical-align: top;
          line-height: 20px;
          transform: rotate(45deg);
          position: absolute;
          font-family: Arial;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border: 3px solid #fff;
        border-top-color: transparent;
        border-radius: 50%;
        animation: c-mobile-loading 0.8s linear infinite;
        z-index: 1;
      }
    }
    .c-input-upload__btn {
      float: left;
      position: relative;
      margin: 10px 10px 0 0;
      width: 60px;
      height: 60px;
      border: 1px solid $border;
      input[type=file] {
        right: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $border;
      }
      &::before {
        width: 2px;
        height: 3.950px;
      }
      &::after {
        width: 3.950px;
        height: 2px;
      }
    }
  }
  .c-input-upload__amount{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &::before {
    @include borderLine('top', 15px);
  }
  &:first-child {
    &::before {
      border: none;
    }
  }
  &.noborder-top {
    &::before {
      border: none !important;
    }
  }
  &.noborder-bottom {
    &::after {
      border: none !important;
    }
  }
  &.c-input-upload__allow-delete {
    .c-input-upload__files {
      .c-input-upload-file {
        i {
          display: block;
        }
      }
    }
  }
}
