.c-input-upload {
  overflow: hidden;
  vertical-align: top;
  padding: 0 5px 10px 15px;
  position: relative;
  .c-input-upload__title {
    position: relative;
    line-height: 20px;
    height: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    color: $text;
    font-size: 14px;
    b {
      position: absolute;
      right: 0;
      line-height: 20px;
      height: 20px;
    }
  }
  .c-input-upload__files {
    float: left;
    margin-top: 5px;
    .c-input-upload-file {
      position: relative;
      width: 80px;
      height: 80px;
      margin: 5px 5px 0 0;
      float: left;
      background: #ddd;
      img {
        width: 80px;
        height: 80px;
        position: relative;
        z-index: 1;
      }
      i {
        display: none;
        position: absolute;
        width: 24px;
        height: 24px;
        right: 1px;
        top: 1px;
        background: rgba(0, 0, 0, .75);
        border-radius: 100%;
        z-index: 2;
        transform: rotate(45deg);
        &::before,
        &::after {
          content: " ";
          background: #fff;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(.5);
          position: absolute;
        }
        &::before {
          width: 20px;
          height: 3px;
        }
        &::after {
          width: 3px;
          height: 20px;
        }
      }
      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border: 3px solid #fff;
        border-top-color: transparent;
        border-radius: 50%;
        animation: c-mobile-loading 0.8s linear infinite;
        z-index: 1;
      }
    }
    .c-input-upload__btn {
      float: left;
      position: relative;
      margin: 5px 5px 0 0;
      width: 80px;
      height: 80px;
      background: #f2f2f2;
      box-sizing: border-box;
      & > div {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      input[type=file] {
        right: 0 !important;
        top: 0 !important;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      &::before,
      &::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #a9a9a9;
      }
      &::before {
        width: 2px;
        height: 30px;
      }
      &::after {
        width: 30px;
        height: 2px;
      }
    }
  }
  .c-input-upload__amount{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
  }
  &::before {
    @include borderLine('top', 15px);
  }
  &:first-child {
    &::before {
      border: none;
    }
  }
  &.noborder-top {
    &::before {
      border: none !important;
    }
  }
  &.noborder-bottom {
    &::after {
      border: none !important;
    }
  }
  &.c-input-upload__allow-delete {
    .c-input-upload__files {
      .c-input-upload-file {
        i {
          display: block;
        }
      }
    }
  }
}
