.c-confirm {
  border: none;
  z-index: 1049;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  .c-confirm__cell {
    position: fixed;
    z-index: 1;
    width: 27rem;
    top: 50%;
    left: 50%;
    line-height: 2rem;
    text-align: center;
    border-radius: 1.2rem;
    font-size: 1.4rem;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .95);
    margin-top: -4rem;
    padding: 2.5rem 1rem 6.4rem;
    .c-confirm__btn-group {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4.4rem;
      display: flex;
      -webkit-box-flex: 1;
      width: 100%;
      flex-wrap: wrap;
      line-height: 4.4rem;
      .c-confirm__btn {
        position: relative;
        font-size: 1.6rem;
        color: #007aff;
        display: block;
        flex: 1;
        &::before {
          @include borderLine('left');
        }
        &:first-child {
          &::before {
            border: none;
          }
        }
      }
      &::before {
        @include borderLine('top');
      }
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(40, 40, 40, .75);
  }
}
