.c-wing-blank {
  &.c-wing-blank__xs {
    padding: 0 3px;
  }
  &.c-wing-blank__sm {
    padding: 0 6px;
  }
  &.c-wing-blank__md {
    padding: 0 9px;
  }
  &.c-wing-blank__lg {
    padding: 0 15px;
  }
  &.c-wing-blank__xl {
    padding: 0 21px;
  }
}