@keyframes c-text-cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.c-text {
  color: $text;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;

  &.c-text__light {
    color: $text-light;
  }

  &.c-text__block {
    display: block;
  }

  &.c-text__primary {
    color: $primary;
  }

  &.c-text__success {
    color: $success;
  }

  &.c-text__warning {
    color: $warning;
  }

  &.c-text__danger {
    color: $danger;
  }

  &.c-text__left,
  &.c-text__center,
  &.c-text__right {
    display: block !important;
  }

  &.c-text__left {
    text-align: left !important;
  }

  &.c-text__center {
    text-align: center !important;
  }

  &.c-text__right {
    text-align: right !important;
  }

  &.c-text__cursor {
    position: relative;
    &::before {
      display: none;
      content: " ";
      animation: c-text-cursor 1.2s infinite linear;
      width: 2px;
      height: 100%;
      background: $primary;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 4px;
    }
    .c-text__content {
      position: relative;
      vertical-align: top;
      &::before {
        display: block;
        content: " ";
        animation: c-text-cursor 1.2s infinite linear;
        width: 2px;
        height: 100%;
        background: $primary;
        position: absolute;
        left: unset;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 4px;
      }
    }
  }
  &.c-text__empty {
    &.c-text__cursor {
      &::before {
        display: block;
      }
      .c-text__content {
        &::before {
          display: none;
        }
      }
    }
  }
  &.c-text__placeholder {
    color: $text-placeholder !important;
  }
  &.c-text__next {
    .c-text__content {
      padding-right: 15px;
      position: relative;
      &::after {
        content: " ";
        transform: rotate(-45deg)
                   translateY(-50%);
        border: solid #cacaca;
        border-width: 0 2px 2px 0;
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        top: 50%;
        right: 1px;
        margin-top: -1px; // 手机端需要 -1px
      }
    }
  }
}
