.c-text {
  color: $text;
  display: inline-block;

  &.c-text__light {
    opacity: .7;
  }

  &.c-text__block {
    display: block;
  }

  &.c-text__primary {
    color: $primary;
  }

  &.c-text__success {
    color: $success;
  }

  &.c-text__warning {
    color: $warning;
  }

  &.c-text__danger {
    color: $danger;
  }
}
