@keyframes c-text-cursor {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.c-text {
  color: $text;
  display: inline-block;

  &.c-text__light {
    opacity: .7;
  }

  &.c-text__block {
    display: block;
  }

  &.c-text__primary {
    color: $primary;
  }

  &.c-text__success {
    color: $success;
  }

  &.c-text__warning {
    color: $warning;
  }

  &.c-text__danger {
    color: $danger;
  }

  &.c-text__cursor {
    position: relative;
    &::before {
      display: none;
      content: " ";
      animation: c-text-cursor 1.2s infinite linear;
      width: .2rem;
      height: 2rem;
      background: $primary;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: .4rem;
    }
    .c-text__content {
      position: relative;
      &::before {
        display: block;
        content: " ";
        animation: c-text-cursor 1.2s infinite linear;
        width: .2rem;
        height: 2rem;
        background: $primary;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: .4rem;
      }
    }
  }

  &.c-text__cursor {
    opacity: .7;
    &::before {
      display: block;
      right: unset;
      left: 0;
    }
  }
}
