@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/mixins';

.c-icon {
  color: var(--text);
  display: block;
  border-radius: .3rem;
  position: relative;

  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.round {
    border-radius: 100%;
  }

  &.small {
    &:before {
      font-size: 60%;
    }
  }

  &.white {
    color: #fff;
  }

  &.primary {
    color: var(--primary);
  }

  &.success {
    color: var(--success);
  }

  &.warning {
    color: var(--warning);
  }

  &.danger {
    color: var(--danger);
  }
}
