@import "../../assets/scss/mixins";

.c-icon {
  color: var(--text);
  display: block;
  border-radius: .3rem;
  position: relative;

  &:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.c-icon__round {
    border-radius: 100%;
  }

  &.c-icon__small {
    &:before {
      font-size: 60%;
    }
  }

  &.c-icon__white {
    color: #fff;
  }

  &.c-icon__primary {
    color: var(--primary);
  }

  &.c-icon__success {
    color: var(--success);
  }

  &.c-icon__warning {
    color: var(--warning);
  }

  &.c-icon__danger {
    color: var(--danger);
  }
}
