@import "./style.scss";

.c-header {
  height: auto;
  .c-header__left {
    height: 32px;
    &.c-header__back {
      &::after {
        border-width: 0 1px 1px 0;
        width: 11px;
        height: 11px;
        left: 17px;
      }
    }
  }
  .c-header__right {
    display: none;
  }
}

.c-header-cover {

}