.c-header {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 100%;
  background: #fff;
  -webkit-user-select: none;
  user-select: none;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 60%;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
  }
  .c-header__left,
  .c-header__right {
    position: absolute;
    top: 0;
    height: 50px;
    line-height: 50px;
    z-index: 1;
    padding: 0 15px;
    color: $text;
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-size: 14px;
  }
  .c-header__left {
    left: 0;
    &.c-header__back {
      padding-left: 30px;
      &::after {
        content: "";
        transform: rotate(135deg);
        border: solid $text;
        border-width: 0 1px 1px 0;
        width: 12px;
        height: 12px;
        display: block;
        position: absolute;
        top: 19px;
        left: 18px;
      }
    }
  }
  .c-header__close {
    position: absolute;
    bottom: 0;
    left: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 25px;
    i {
      position: absolute;
      top: 13px;
      left: -5px;
      height: 24px;
      width: 24px;
      transform: rotate(-45deg);
      &::before {
        content: "";
        border-top: 1px solid $text;
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: "";
        border-left: 1px solid $text;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .c-header__right {
    right: 0;
  }
  &.c-header__primary,
  &.c-header__success,
  &.c-header__warning,
  &.c-header__danger {
    h1,
    .c-header__left,
    .c-header__right {
      color: #fff;
    }
    .c-header__close {
      i {
        &::before,
        &::after {
          border-color: #fff;
        }
      }
    }
    .c-header__left,
    .c-header__right {
      &.c-header__back {
        &::after {
          border-color: #fff;
        }
      }
    }
    &::after {
      border: none;
    }
  }
  &.c-header__primary {
    background: $primary;
  }
  &.c-header__success {
    background: $success;
  }
  &.c-header__warning {
    background: $warning;
  }
  &.c-header__danger {
    background: $danger;
  }
  &::after {
    @include borderLine('bottom');
  }
  &.noborder-bottom {
    &::after {
      border-bottom: none;
    }
  }
}
