@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/mixins';

.c-icon{
  color: var(--text);
  border-radius: .3rem;

  &.white{
    color: #fff;
    border-radius: .3rem;
  }

  &.primary{
    color: var(--primary);
    border-radius: .3rem;
  }

  &.success{
    color: var(--success);
    border-radius: .3rem;
  }

  &.warning{
    color: var(--warning);
    border-radius: .3rem;
  }

  &.danger{
    color: var(--danger);
    border-radius: .3rem;
  }
}
