@keyframes c-switch {
  0% {
    transform: translate(-50%, -50%)
               rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%)
               rotate(360deg);
  }
}

.c-switch {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 52px;
  height: 32px;
  .c-switch__core {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 16px;
    background: #fff;
    box-sizing: border-box;
    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      transition: transform .3s;
      will-change: scale;
      border-radius: 15px;
      width: 50px;
      height: 30px;
      background-color: #fdfdfd;
    }
    i {
      top: 0;
      left: 0;
      position: absolute;
      width: 30px;
      height: 30px;
      transition: transform .3s;
      will-change: transform;
      &::before {
        display: none;
        content: " ";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        animation: c-switch 500ms infinite linear;
        border: 1px solid $border-dark;
        border-radius: 100%;
        border-top-color: transparent !important;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.14);
      }
    }
  }
  &.c-switch__before-change-loading {
    .c-switch__core {
      i {
        &::before {
          display: block;
        }
      }
    }
  }
  &.c-switch__checked {
    .c-switch__core {
      border-color: $text;
      background-color: $text;
      &::before {
        transform: scale(0);
      }
      i {
        transform: translateX(20px);
      }
    }
  }
  &.c-switch__disabled {
    &.c-switch__checked {
      .c-switch__core {
        opacity: .35;
      }
    }
  }
  &.c-switch__primary {
    &.c-switch__checked {
      .c-switch__core {
        border-color: $primary;
        background-color: $primary;
      }
    }
  }
  &.c-switch__success {
    &.c-switch__checked {
      .c-switch__core {
        border-color: $success;
        background-color: $success;
      }
    }
  }
  &.c-switch__warning {
    &.c-switch__checked {
      .c-switch__core {
        border-color: $warning;
        background-color: $warning;
      }
    }
  }
  &.c-switch__danger {
    &.c-switch__checked {
      .c-switch__core {
        border-color: $danger;
        background-color: $danger;
      }
    }
  }
  &.c-switch__small {
    width: 44px;
    height: 22px;
    .c-switch__core {
      &::before {
        width: 42px;
        height: 20px;
        border-radius: 20px;
        background-color: #ffffff;
      }
      i {
        top: 1px;
        left: 1px;
        width: 18px;
        height: 18px;
        &::after {
          box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
        }
      }
    }
    &.c-switch__checked {
      .c-switch__core {
        i {
          transform: translateX(22px);
        }
      }
    }
  }
}
