.c-switch {
  position: relative;
  display: inline-block;
  label {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    width: 5.2rem;
    height: 3.2rem;
    .c-switch__core {
      display: inline-block;
      position: relative;
      width: 5.2rem;
      height: 3.2rem;
      border: .1rem solid $border;
      border-radius: 1.6rem;
      background: $border;
      &::after,
      &::before {
        content: " ";
        top: 0;
        left: 0;
        position: absolute;
        transition: transform .3s;
        border-radius: 1.5rem;
      }
      &::after {
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .4);
      }
      &::before {
        width: 5rem;
        height: 3rem;
        background-color: #fdfdfd;
      }
    }
    input[type=checkbox] {
      width: 100%;
      height: 100%;
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      &:checked  {
        + .c-switch__core {
          border-color: $text;
          background-color: $text;
          &::before {
            transform: scale(0);
          }
          &::after {
            transform: translateX(2rem);
          }
        }
      }
    }
  }
  &.c-switch__primary {
    label {
      input[type=checkbox] {
        &:checked  {
          + .c-switch__core {
            border-color: $primary;
            background-color: $primary;
          }
        }
      }
    }
  }
  &.c-switch__success {
    label {
      input[type=checkbox] {
        &:checked  {
          + .c-switch__core {
            border-color: $success;
            background-color: $success;
          }
        }
      }
    }
  }
  &.c-switch__warning {
    label {
      input[type=checkbox] {
        &:checked  {
          + .c-switch__core {
            border-color: $warning;
            background-color: $warning;
          }
        }
      }
    }
  }
  &.c-switch__danger {
    label {
      input[type=checkbox] {
        &:checked  {
          + .c-switch__core {
            border-color: $danger;
            background-color: $danger;
          }
        }
      }
    }
  }
}
