@charset "utf-8";
// 取消 Chrome 浏览器自动填充颜色
:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
  -webkit-text-fill-color: #574751;
  color: #574751;
}

* {
  outline: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
