.c-white-space {
  &.c-white-space__xs {
    height: 3px;
  }
  &.c-white-space__sm {
    height: 6px;
  }
  &.c-white-space__md {
    height: 9px;
  }
  &.c-white-space__lg {
    height: 15px;
  }
  &.c-white-space__xl {
    height: 21px;
  }
}