.c-confirm {
  border: none;
  z-index: 1049;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  .c-confirm__cell {
    position: fixed;
    z-index: 1;
    width: 270px;
    top: 50%;
    left: 50%;
    line-height: 20px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .95);
    margin-top: -50px;
    padding: 25px 15px 64px;
    .c-confirm__title {
      font-weight: bold;
      color: #000;
      position: absolute;
      top: 20px;
      left: 0;
      height: 20px;
      width: 100%;
      font-size: 16px;
    }
    .c-confirm__content {
      font-size: 14px;
      p {
        text-align: left;
        margin: 5px 0;
      }
    }
    .c-confirm__btn-group {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 44px;
      display: flex;
      -webkit-box-flex: 1;
      width: 100%;
      flex-wrap: wrap;
      line-height: 44px;
      .c-confirm__btn {
        position: relative;
        font-size: 16px;
        display: block;
        flex: 1;
        font-weight: 500;
        color: #007aff;
        &::before {
          @include borderLine('left');
        }
        &:first-child {
          &::before {
            border: none;
          }
        }
      }
      &::before {
        @include borderLine('top');
      }
    }
  }
  &.c-confirm__has-title {
    .c-confirm__cell {
      padding: 55px 15px 64px;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(40, 40, 40, .75);
  }
}
