@import "./style.scss";

.c-container {
  .c-container__icon-back {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 44px;
    width: 40px;
    z-index: 20;
    &::before {
      border: solid #000;
      border-width: 0 2px 2px 0;
      content: "";
      display: block;
      height: 13px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: rotate(135deg) translate(-50%, -50%);
      width: 13px;
      margin-left: -20px;
      margin-top: -9px;
    }
  }
  &.c-container__back {
    padding-left: 40px !important;
    .c-container__icon-back {
      display: block;
    }
  }
}
