.c-container {
  &.c-container__fixed-top,
  &.c-container__fixed-bottom {
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
  }
  &.c-container__fixed-top {
    top: 0;
    &::after {
      display: none !important;
    }
  }
  &.c-container__fixed-bottom {
    bottom: 0;
  }
  &.c-container__safe-area {
    &.c-container__fixed-bottom {
      bottom: constant(safe-area-inset-bottom);
      bottom: env(safe-area-inset-bottom);
      &::after {
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
    &::after {
      content: " ";
      display: block;
      z-index: 1;
      width: 100%;
      background: inherit;
      height: 0;
      height: constant(safe-area-inset-bottom);
      height: env(safe-area-inset-bottom);
    }
  }
}

.c-container-cover__fixed-bottom-safe-area {
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
  }
}
