:root {
  // 常用颜色
  --primary: #39f;
  --success: #0c6;
  --warning: #f90;
  --danger: #f30;

  // 文字颜色
  --text: #737373;
  --text-dark: #595959;
  --text-light: #a6a6a6;
  --text-disabled: #bfbfbf;

  // 边框颜色
  --border: #d9d9d9;
  --border-dark: #c9c9c9;
  --border-light: #e0e0e0;
}
