@import "./style.scss";

.c-search {
  .c-search__cell {
    .c-search__input {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 32px;
      height: 32px;
    }
  }
}

.c-search__placeholder {
  color: $text-placeholder;
}
