@import "./style.scss";

.c-search {
  display: block;
  .c-search__cell {
    height: 32px;
    .c-search__input {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 32px;
      height: 32px;
    }
  }
}