@import "./style.scss";

.c-search {
  .c-search__cell {
    height: 100%;
    .c-search__input {
      padding-top: 0;
      padding-bottom: 0;
      line-height: 100%;
      height: 100%;
    }
  }
}