.c-search {
  background: #ddd;
  padding: 10px;
  position: relative;
  .c-search__input {
    background: #fff;
    border: none;
    height: 30px;
    line-height: 16px;
    font-size: 14px;
    width: 100%;
    border-radius: 3px;
    padding: 7px 10px;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
      color: $text-light;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  .c-search__cancel-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
