.c-search {
  background: #ddd;
  padding: 7px 15px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  .c-search__cell {
    position: relative;
    .c-search__icon-search {
      width: 30px;
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
      }
    }
    .c-search__input {
      background: #fff;
      border: none;
      height: 30px;
      line-height: 16px;
      font-size: 14px;
      width: 100%;
      border-radius: 3px;
      padding: 7px 10px 7px 32px;
      -webkit-appearance: none;
      box-sizing: border-box;
      text-align: left;
      &::-webkit-input-placeholder {
        color: $text-light;
      }
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
    .c-search__icon-cancel {
      width: 45px;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      border-radius: 0 3px 3px 0;
      display: none;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
  }
  &.c-search__cancel-visible {
    .c-search__cell {
      padding: 0 45px 0 0;
      .c-search__input {
        border-radius: 3px 0 0 3px;
      }
      .c-search__icon-cancel {
        display: block;
      }
    }
  }
  &.c-search__round {
    .c-search__icon-search {
      left: 5px;
    }
    .c-search__input {
      border-radius: 32px;
      padding-left: 37px;
    }
    .c-search__icon-cancel {
      border-radius: 0 32px 32px 0;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
    &.c-search__cancel-visible {
      .c-search__cell {
        padding: 0 45px 0 0;
        .c-search__input {
          border-radius: 32px 0 0 32px;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
        .c-search__icon-cancel {
          display: block;
        }
      }
    }
  }
}
