.c-search {
  background: #ddd;
  padding: 1rem;
  position: relative;
  .c-search__input {
    background: #fff;
    border: none;
    height: 3rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: .3rem;
    padding: .7rem 1rem;
    -webkit-appearance: none;
    &::-webkit-input-placeholder {
      color: $text-light;
    }
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
  .c-search__cancel-button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
