@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:focus {
    outline: 0;
  }
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:-webkit-autofill {
  box-shadow: 0 0 0 10rem #fff inset;
  -webkit-text-fill-color: #574751;
  color: #574751;
}

.noborder {
  border: none !important;
  &::before,
  &::after {
    border: none !important;
  }
}

.c-btn__suspend__cover,
.c-tabbar__cover {
  width: 100%;
  height: 5rem;
  height: calc(5rem + constant(safe-area-inset-bottom));
  height: calc(5rem + env(safe-area-inset-bottom));
}
