@mixin borderLine($direction: round, $offset: 0) {
  content: " ";
  position: absolute;
  z-index: 1;
  @if $direction == left {
    top: $offset;
    left: 0;
    width: .1rem;
    height: 100%;
    transform-origin: 0 0;
    transform: scaleX(0.5);
    border-left: .1rem solid $border;
  }
  @if $direction == right {
    top: $offset;
    right: 0;
    width: .1rem;
    height: 100%;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
    border-right: .1rem solid $border;
  }
  @if $direction == top {
    left: $offset;
    top: 0;
    width: 100%;
    height: .1rem;
    transform: scaleY(0.5);
    transform-origin: 0 0;
    border-top: .1rem solid $border;
  }
  @if $direction == bottom {
    left: $offset;
    bottom: 0;
    width: 100%;
    height: .1rem;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
    border-bottom: .1rem solid $border;
  }
  @if $direction == round {
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: 0 0;
    transform: scale(0.5);
    border: .1rem solid $border;
  }
}
