.c-tab {
  background: #f5f5f5;
  height: 4.4rem;
  line-height: 4.4rem;
  display: flex;
  -webkit-box-flex: 1;
  position: relative;
  &::before {
    @include borderLine('bottom');
  }
  .c-tab-item {
    text-align: center;
    position: relative;
    display: block;
    flex: 1;
    font-size: 1.2rem;
    color: $text;
    text-decoration: none;
    &.c-tab__current {
      &::after {
        content: "";
        width: 2rem;
        border-bottom: .2rem solid $border;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }
  &.c-tab__primary {
    .c-tab__current {
      &::after {
        border-color: $primary;
      }
    }
  }
  &.c-tab__success {
    .c-tab__current {
      &::after {
        border-color: $success;
      }
    }
  }
  &.c-tab__warning {
    .c-tab__current {
      &::after {
        border-color: $warning;
      }
    }
  }
  &.c-tab__danger {
    .c-tab__current {
      &::after {
        border-color: $danger;
      }
    }
  }
}
