.c-picker {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  transition: all 500ms;
  transition-timing-function: ease;
  z-index: 1050;
  .c-picker__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    .c-picker__action {
      height: 40px;
      position: relative;
      background: #fff;
      .c-picker__cancel {
        position: absolute;
        left: 0;
        top: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-size: 15px;
        color: $text-light;
      }
      .c-picker__done {
        position: absolute;
        right: 0;
        top: 0;
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-size: 15px;
        font-weight: 600;
        color: $primary;
      }
      &::before {
        @include borderLine('top');
      }
      &::after {
        @include borderLine('bottom');
      }
    }
    picker-view {
      background: #fcfcfc;
      display: flex;
      height: 200px;
      picker-view-column {
        flex: 1;
        height: 200px;
        width: 100vw;
        div {
          line-height: 38px;
          width: 100%;
          text-align: center;
          font-size: 14px;
          &.placeholder {
            color: $text-placeholder;
          }
        }
      }
    }
  }
  .indicator-style {
    height: 38px;
  }
  &.c-picker__is-iphonex {
    .c-picker__content {
      border-bottom: #f0f0f0 34px solid;
    }
  }
  &.c-picker__visible {
    transform: translateY(0);
  }
  .c-picker__cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
}