.c-picker-region {
  position: fixed;
  left: 0;
  bottom: 0;
  border-bottom: #f0f0f0 34px solid;
  width: 100%;
  .c-picker-region__action {
    height: 36px;
    position: relative;
    background: #fff;
    .c-picker-region__cancel {
      position: absolute;
      left: 0;
      top: 0;
      height: 36px;
      line-height: 36px;
      padding: 0 15px;
      font-size: 14px;
      color: $text-light;
    }
    .c-picker-region__done {
      position: absolute;
      right: 0;
      top: 0;
      height: 36px;
      line-height: 36px;
      padding: 0 15px;
      font-size: 14px;
      font-weight: 600;
      color: $primary;
    }
    &::before {
      @include borderLine('top');
    }
    &::after {
      @include borderLine('bottom');
    }
  }
  picker-view {
    background: #fcfcfc;
    display: flex;
    height: 200px;
    picker-view-column {
      flex: 1;
      height: 200px;
      width: 33.3333333vw;
      div {
        line-height: 36px;
        width: 100%;
        text-align: center;
        font-size: 14px;
        &.placeholder {
          color: $text-placeholder;
        }
      }
    }
  }
}